Repository flowacademyhu/iota-vajdasag-brand, pull requests merged in 2021-02, with the labels that each got.

#34 Backend init
  .github/workflows/spring.yml
  backend/.gitignore
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/docker-compose.yaml
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/VajdasagBrandApplication.java
  backend/src/main/resources/application.yml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/VajdasagBrandApplicationTests.java
Labels: backend, enhancement, good first issue

#38 !4-menu
  frontend/.gitignore
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Menu.js
Labels: frontend

#39 !5-login-oldal
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/communications/mockForUserApi.js
  frontend/src/communications/userApi.js
  frontend/src/components/Button.js
  frontend/src/components/InputField.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/Login.js
  frontend/src/test/login.test.js
Labels: frontend

#42 !25-authentikacio
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/KeycloakSecurityConfig.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/LoginDto.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/exception/CustomExceptionHandler.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/resources/application.yml
Labels: backend

#41 !9-felhasznalok-listaja
  frontend/public/index.html
  frontend/src/communications/mockForUserApi.js
  frontend/src/communications/userApi.js
  frontend/src/components/UsersList.js
  frontend/src/components/listofusers/ListElement.js
  frontend/src/components/useUsers.js
  package-lock.json
Labels: frontend

#45 !43-menu-update
  frontend/src/App.js
  frontend/src/pages/Login.js
Labels: frontend

#46 !26-regisztracio
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/KeycloakConfiguration.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/KeycloakPropertiesHolder.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/KeycloakSecurityConfig.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/Type.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/User.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/UserDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/exception/CustomExceptionHandler.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/exception/GlobalExceptionHandler.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/exception/ValidationException.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientServiceTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend

#53 !26-regisztráció
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/UserDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientServiceTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend

#49 !48-demo-elotti-problema-rendezés
  frontend/src/App.js
  frontend/src/TokenContext.js
  frontend/src/communications/mockForUserApi.js
  frontend/src/communications/userApi.js
  frontend/src/components/Main.js
  frontend/src/components/Menu.js
  frontend/src/components/MenuComponent.js
  frontend/src/components/SwitchLanguage.js
  frontend/src/components/UsersList.js
  frontend/src/components/listofusers/ListElement.js
  frontend/src/components/logout.js
  frontend/src/components/tokenHandler.js
  frontend/src/components/useUsers.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/Login.js
  frontend/src/pages/SuperAdmin.js
Labels: bug, frontend

#59 Update docker-compose
  backend/docker-compose.yaml
Labels: backend, enhancement

#61 !29-felhasznalo-torlese
  backend/.gitignore
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/KeycloakConfiguration.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/KeycloakPropertiesHolder.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/User.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/exception/GlobalExceptionHandler.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/exception/UserNotEnabledException.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientServiceTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend

#44 !6-regisztrációs-oldal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/communications/Validation.js
  frontend/src/communications/apiInstance.js
  frontend/src/communications/mockForUserApi.js
  frontend/src/communications/userApi.js
  frontend/src/components/Button.js
  frontend/src/components/InputField.js
  frontend/src/components/Main.js
  frontend/src/components/Menu.js
  frontend/src/components/PopUpModal.js
  frontend/src/components/listofusers/ApproveButton.js
  frontend/src/i18n.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/Login.js
  frontend/src/pages/Registration.js
Labels: frontend

#63 !33-termek-szerkesztese
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend

#65 !27-felhasznalok-listazasa
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend

#62 !31-termek-torlese
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/Item.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/ItemRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend

#79 !28-cégregisztráció-jóváhagyása
  backend/keycloak/realm.json
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/EmailConfiguration.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/KeycloakPropertiesHolder.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EmailService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend

#82 !76 - UserController-path-egységesítése-BE
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
Labels: backend

#77 !74-frontendesbackend-integracioja
  backend/docker-compose.yaml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/communications/Validation.js
  frontend/src/communications/apiInstance.js
  frontend/src/communications/mockForUserApi.js
  frontend/src/communications/userApi.js
  frontend/src/components/SwitchLanguage.js
  frontend/src/pages/Login.js
  frontend/src/pages/Registration.js
Labels: frontend

#80 !32-termek-listazasa
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/CegAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/SuperAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/ItemRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend

#88 Start keycloak in CI
  .github/workflows/main.yml
Labels: backend, enhancement

#87 !84-termek-listazasa-bugfix
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/CegAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/SuperAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend, bug

#89 !67-adatbazisreteg-felkeszites
  backend/keycloak/realm.json
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/CegAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/SuperAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/UserDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/Item.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/Type.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/entity/User.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Category.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Item.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Subcategory.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Type.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/User.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/ItemJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/UserJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/ItemRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EmailService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend

#93 skip tests from docker build
  backend/Dockerfile
Labels: backend, bug

#97 !96-web-field-atnevezese-websitera-ItemDTO-ban
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Item.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend, bug

#95 !94-termek-lekerese-id-alapjan
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend

#92 !14-termek-szerkesztese
  frontend/src/communications/mockForUserApi.js
  frontend/src/communications/userApi.js
  frontend/src/components/listofproducts/DeleteProductButton.js
  frontend/src/components/listofproducts/EditProductButton.js
  frontend/src/components/listofproducts/SelectCategory.js
  frontend/src/components/listofusers/DeleteModalButton.js
  frontend/src/components/modals/DeletionResponseModal.js
  frontend/src/components/modals/ResponseModal.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/EditProductPage.js
  frontend/src/pages/Registration.js
  frontend/src/pages/SuperAdmin.js
  frontend/src/pages/SuperAdminEditProductsPage.js
  frontend/src/validations/Validation.js
  frontend/src/validations/validationEdit.js
Labels: frontend

#83 !7-elfelejtett-jelszo-kerese
  backend/keycloak/realm.json
  frontend/i18next-scanner.config.js
  frontend/src/communications/mockForUserApi.js
  frontend/src/communications/userApi.js
  frontend/src/components/ForgottenPasswordForm.js
  frontend/src/components/Main.js
  frontend/src/components/listofusers/ListElement.js
  frontend/src/components/listofusers/OperationButtons.js
  frontend/src/components/useUsers.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/ForgottenPassword.js
  frontend/src/pages/Login.js
  frontend/src/pages/Registration.js
  frontend/src/validations/forgottenPasswordShema.js
Labels: frontend

#99 !98-legyen-egyseges-az-endpointok-path-ja
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/CegAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/SuperAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
  frontend/src/components/Menu.js
  frontend/src/components/listofproducts/EditProductButton.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/EditProductPage.js
  frontend/src/pages/SuperAdmin.js
Labels: backend, enhancement

#106 !70-program-letrehozasa
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/EventController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/CegAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/EventDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/LoginDto.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Event.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/EventJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/EventRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EventService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/controller/EventControllerTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/controller/UserControllerTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/helpers/UserHelper.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/EventServiceTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
  backend/src/test/resources/application.yml
Labels: backend
