Repository flowacademyhu/iota-vajdasag-brand, pull requests merged in 2021-03, with the labels that each got.

#114 !86-termek-alkategoriak
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Item.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EventService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/controller/EventControllerTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend

#117 115 regisztrációs emailben login link
  backend/keycloak/realm.json
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend

#100 !11-termek-lista-superadminnak
  frontend/package-lock.json
  frontend/src/components/FullProductList.js
  frontend/src/components/ProductTable.js
  frontend/src/components/listOfProducts/DeleteProductButton.js
  frontend/src/components/listOfProducts/EditProductButton.js
  frontend/src/components/listOfProducts/ListElement.js
  frontend/src/components/listOfProducts/ListHeader.js
  frontend/src/components/listOfProducts/SelectCategory.js
  frontend/src/components/tokenHandler.js
  frontend/src/components/useProducts.js
  frontend/src/components/useUsers.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/EditProductPage.js
  frontend/src/pages/SuperAdmin.js
  frontend/src/pages/SuperAdminEditProductsPage.js
  frontend/src/pages/SuperAdminProductsPage.js
Labels: frontend

#123 !68-user-controller-integrációs-tesztelés
  backend/keycloak/realm.json
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/SuperAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/UserDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/UserJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/controller/UserControllerTest.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/helpers/UserHelper.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
  backend/src/test/resources/application.yml
Labels: backend

#126 !125-database-scope-változtatása
  backend/pom.xml
Labels: backend, bug

#121 !111-termek-szerkesztese-ures-string-validacio-owner-mezok-fix
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/CegAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/SuperAdminItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EventService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend, bug, enhancement

#128 !115-regisztrációs-emailben-login-link
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/UIProperties.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
  backend/src/test/resources/application.yml
Labels: backend, bug

#127 !124-elfelejtett-jelszó-végpont
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ForgottenPasswordDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
Labels: backend

#120 !15-termek-kereso-listaoldalon
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/FullProductList.js
  frontend/src/components/Searchbar.js
  frontend/src/components/ShowLoggedUserData.js
  frontend/src/components/UsersList.js
  frontend/src/components/listOfProducts/ListElement.js
  frontend/src/components/listOfProducts/ListHeader.js
  frontend/src/components/logout.js
  frontend/src/components/useProducts.js
  frontend/src/hooks/useLoggedInUser.js
  frontend/src/hooks/useProducts.js
  frontend/src/hooks/useTokenStateHandler.js
  frontend/src/hooks/useUsers.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/Login.js
  frontend/src/textHelpers.js
Labels: frontend

#131 !109-ceghez-tartozo-lista
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/ItemController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Item.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/ItemJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/ItemRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
Labels: backend

#132 !72-program-listazas
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/EventController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Event.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/EventRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EventService.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: backend

#116 13 termek hozzaadasa
  frontend/i18next-scanner.config.js
  frontend/src/communications/userApi.js
  frontend/src/components/AddAndEditProductForm.js
  frontend/src/components/FullProductList.js
  frontend/src/components/Menu.js
  frontend/src/components/listOfProducts/SelectCategory.js
  frontend/src/components/listofproducts/AddNewProductButton.js
  frontend/src/components/listofusers/ListElement.js
  frontend/src/components/listofusers/ListHeader.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/AddAndEditProductPage.js
  frontend/src/pages/EditProductPage.js
  frontend/src/pages/SuperAdmin.js
  frontend/src/pages/SuperAdminEditProductsPage.js
Labels: frontend

#133 73 firebase kapcsolat
  .github/workflows/main.yml
  backend/docker-compose.yaml
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/FirebaseConfiguration.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/ItemDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Category.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Event.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Item.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Subcategory.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/User.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/EventJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/ItemJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/repository/UserJPARepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/EventRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/ItemRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/util/TimestampConverter.java
  backend/src/main/resources/application.yml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/controller/UserControllerTest.java
  backend/src/test/resources/application.yml
Labels: backend

#130 !23-termeklista-rendezes
  frontend/src/components/FullProductList.js
  frontend/src/components/HeaderCell.js
  frontend/src/components/ListHeader.js
  frontend/src/components/ProductTable.js
  frontend/src/components/SortingSign.js
  frontend/src/components/UsersList.js
  frontend/src/components/listOfProducts/AddNewProductButton.js
  frontend/src/components/listOfProducts/DeleteProductButton.js
  frontend/src/components/listOfProducts/ListElement.js
  frontend/src/components/listOfProducts/ListHeader.js
  frontend/src/components/listofusers/ListElement.js
  frontend/src/components/listofusers/ListHeader.js
  frontend/src/hooks/useProducts.js
  frontend/src/hooks/useUsers.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/sortHelpers.js
Labels: frontend

#138 !137-jpa-torles
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/VajdasagBrandApplication.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/configuration/FirebaseConfiguration.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/dto/UserDTO.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EventService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/hu/flowacademy/vajdasagbrand/controller/EventControllerTest.java
  backend/src/test/resources/application.yml
Labels: backend

#139 springbootapp fix
  backend/src/main/java/hu/flowacademy/vajdasagbrand/VajdasagBrandApplication.java
Labels: backend, bug

#142 !140-product-lista-delete-bug
  backend/docker-compose.yaml
  frontend/src/components/FullProductList.js
Labels: frontend

#135 !71-program-modositas
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/EventController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/EventRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EventService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/EventServiceTest.java
Labels: backend

#146 !143-program-listazas-termek-id-alapjan
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/EventController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/repository/EventRepository.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/EventService.java
Labels: backend

#144 !141-user-lekerese-id-alapjan
  backend/src/main/java/hu/flowacademy/vajdasagbrand/controller/UserController.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
Labels: backend

#149 !136-added validation for PW reset
  backend/keycloak/realm.json
Labels: backend, bug

#134 !16-termékadatok-lokalizációja
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/vajdasagbrand/persistence/entity/Language.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/ItemService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/ItemServiceTest.java
  frontend/src/communications/userApi.js
  frontend/src/components/AddAndEditProductForm.js
  frontend/src/components/InputField.js
  frontend/src/components/listOfProducts/SelectCategory.js
  frontend/src/hooks/useProducts.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
Labels: frontend

#148 17 programlista oldal
  frontend/src/communications/userApi.js
  frontend/src/components/FullEventList.js
  frontend/src/components/listOfProducts/ListElement.js
  frontend/src/components/listofevents/EventsListHeader.js
  frontend/src/components/listofevents/EventsProductButton.js
  frontend/src/components/listofevents/ListElements.js
  frontend/src/i18n/en.json
  frontend/src/i18n/hu.json
  frontend/src/i18n/sr.json
  frontend/src/pages/SuperAdmin.js
Labels: frontend

#150 Userdeletefix
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/vajdasagbrand/service/UserService.java
  backend/src/test/java/hu/flowacademy/vajdasagbrand/service/UserServiceTest.java
Labels: backend
